<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014919062458-qooup7kkbm4cro0qtsg9p9kva2i3rqel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014919062458-qooup7kkbm4cro0qtsg9p9kva2i3rqel</string>
	<key>API_KEY</key>
	<string>AIzaSyCoLyyv-zwn8upG8fiMEfGp3iE8BQahsmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1014919062458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.afroplus.app</string>
	<key>PROJECT_ID</key>
	<string>afroplusapp-ebd9f</string>
	<key>STORAGE_BUCKET</key>
	<string>afroplusapp-ebd9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014919062458:ios:349dd0456d4fe16892b383</string>
	<key>DATABASE_URL</key>
	<string>https://afroplusapp-ebd9f.firebaseio.com</string>
</dict>
</plist>